

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {

    .inicio {
        background-image: url(../img/2364726.jpg);
        .navbar {
            background: rgba(5,255,255,.05);
                box-shadow: 0 0 10px rgba(0,0,0,0.25);
                backdrop-filter: blur(10px);
                .botonInicioRegistro {
                    background: none;
                    text-decoration: none;
                    border: none;

                    &:hover {
                        border-radius: 10px;
                        transform: scale(1.2);
                        border: 1px solid #c800ff;
                        background-color: #c800ff;
                    }
                }
        }
        .parent {
            .div1 {
                margin-top: 0px;
                margin-bottom: 20px;
                display: flex;
                align-items: baseline;
                justify-content: center;
                .row {
                    width: 100%;
                    .col {
                        .btn-cart {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 70px;
                            height: 70px;
                            position: relative;
                            &:hover {
                                transform: scale(1.2);
                            }
                            &::after {
                                content: attr(data-quantity);
                                width: fit-content;
                                height: fit-content;
                                position: absolute;
                                font-size: 15px;
                                color: rgb(6, 6, 6);
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                opacity: 0;
                                visibility: hidden;
                                transition: .2s linear;
                                top: 115%;
                            }
                            &:hover::after {
                                visibility: visible;
                                opacity: 1;
                                top: 105%;
                            }
                            .icon-cart {
                                width: 48px;
                                height: 48px;
                                transition: .2s linear;
                                &:hover {
                                    transform: scale(1.2);
                                }
                                path {
                                    fill: rgb(0, 0, 0);
                                    transition: .2s linear;
                                }
                            }
                        }
                        .btn-cart:hover > .icon-cart path {
                            fill: rgb(0, 0, 0);
                        }
                        .cart-products{
                            position: absolute!important;
                            top: 82px;
                            right: 0px;
                            background: rgba(5,255,255,.05);
                            box-shadow: 0 0 10px rgba(0,0,0,0.25);
                            backdrop-filter: blur(10px);
                            border-radius: 10px;
                            padding: 0 18px;
                            display: none;
                            min-width: 250px;
                            transition: right 1s;
                        }
                    }
                }
                a {
                    svg {
                        margin: 15px;
                    }
                }
            }
            .div2 {
                margin-top: 25px;
                margin-bottom: 25px;
                background: rgba(5,255,255,.05);
                box-shadow: 0 0 10px rgba(0,0,0,0.25);
                backdrop-filter: blur(10px);
                text-align: center;
                .col-9 {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    footer {
        width: 100%;
        background-color: white;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;


        .footer-seccion-general {
            max-width: 800px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 48px;
            margin: 0 auto;
            padding: 16px;
            min-height: 160px;

            .footer-interno {
                width: 170px;

                .social-links {
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                    width: 100px;
                }
            }

            section {
                menu {
                    h2 {
                        text-align: left;
                        color: rgb(0, 0, 0);
                        margin-bottom: 16px;
                        font-size: 16px;
                        font-weight: 600px;
                    }
                    hr {
                        width: 100%;
                        height: 5px;
                        background: linear-gradient(315deg, #ffbc00, #ff0058);
                    }
                    li {
                        list-style: none;
                        margin-bottom: 16px;
                        a {
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
        }

        .footer-bottom {
            height: 70px;
            margin-top: 48px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            background: rgba(5,255,255,.05);
            box-shadow: 0 0 10px rgba(0,0,0,0.25);
            backdrop-filter: blur(10px);
            background-size: 100%;

            small {
                font-size: 16px;
                margin: 0 4px;
            }
        }
    }
}

@media screen and (max-width: 762px) {
    .parent {
        .div1 {
            margin-top: 25px;
            margin-bottom: 25px;
            div {
                text-align: center;
                justify-content: center;
                align-items: center;
                .link {
                    a {
                        &:hover {
                            color: red;
                            transition: 0.3s;
                        }
                        svg {
                            margin: 5px;
                        }
                    }
                }
                
            }
        }
    }
    footer {
        .footer-seccion-general {
            text-align: center;
            justify-content: center;

            .text-footer {
                h2 {
                    text-align: center;
                }
            }
        }
    }
}


.close-btn{
    text-align: start;
}


.cart-products .listCart .item{
    display: grid;
    grid-template-columns: 50px 1fr 120px;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    
}

.cart-products .listCart img{
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.cart-products .listCart .item .name{
    font-weight: bold;
    color: white;
}
.cart-products .listCart .item .quantity{
    display: flex;
    justify-content: end;
    align-items: center;
}
.cart-products .listCart .item .quantity button{
    color: #d000ff;
    height: 60px;
    width: 30px;
    margin-bottom: 10px;
}

.buttonDelete {
    margin-left: 5px;
}
.cart-products .listCart .item .quantity span{
    display: block;
    font-weight: bold;
    width: 50px;
    text-align: center;
}

.cart-products .listCart{
    padding: 20px;
    overflow: auto;
}

.cart-products .buttons{
    margin-bottom: 5px;
    text-align: center;
}
.cart-products .buttons div{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;

}

.cart-products .buttons a{
    color: #d000ff;
    text-decoration: none;
}




.card { 
    text-align: center;
        background: #f5f5f5;
        position: relative;
        overflow: visible;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}   

.card-img-top {
    background-color: #c800ff;
    height: 100%;
    border-radius: 10px;
    transition: .3s ease;
    &:hover {
        transform: translateY(-25%);
        box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
    }
}

.card-info {
    padding-top: 2%;
    h5 {
        
        font-weight: 900;
        font-size: 1em;
        line-height: 1.5;
    }
    p {
        font-size: .9em;
    }
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    .text-title {
        font-weight: 900;
        font-size: 0.8em;
        line-height: 1.5;
    }
}


.productoAgregar {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
    &:hover {
        border: 1px solid #c800ff;
        background-color: #c800ff;
    }
    svg {
        width: 20px;
        height: 20px;
    }
}

.precioTotalCarrito {
    color: white;
}



.carritoCantidad {
    max-width: 40px;
    border: 0px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 7px;
  }

.buttonDelete {
    width: 50px;
}